body {
  margin:0px;
  padding:0px;
  background:#f3f3f4!important;
  color:#676A6C!important;
  font-family:"open sans","Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

#landing {
  background: url('/img/chili-bg.jpg') no-repeat;
  background-color:#34261d;
  background-position: center 0px;
  padding-top:110px;
}

#landing header h1,#landing header h1 small {
  color:white;
}

#supported_products {
  width:100%;
  background:black;
  opacity:.6;
  overflow:hidden;
}


#login_logobox {
  text-align:center;
  background:white;
  padding-top:50px;
  padding-bottom:50px;
}

#login_formbox {
  background:white;
  border-top:3px solid #e7eaec;
  border-bottom:1px solid #e7eaec;
  padding:10px;
  margin-top:20px;
  overflow:hidden;
}

#mnav { 
  margin-top:10px;
}

#mnav a {
  color:#00ccff;
  font-weight: bold;
  padding:5px;

}


.lang-links {
  overflow: hidden;
}

.lang-links a {
  font-weight:normal !important;
}

.lang-links a:hover {
  background:transparent !important;
  color:#FF993A !important;
  text-decoration:underline !important;  

}

#mnav a:hover {
  background:#00ccff;
  border-radius:5px;
  color:white;
  text-decoration: none;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn-xxlarge {
  padding: 22px 34px;
  font-size: 26px;
  line-height: normal;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20 px;
}

#social_container {
  padding:15px;
  border-radius:8px;
  width:600px;
  margin-top:10px;
  margin-bottom:40px;
  margin-left:auto;
  margin-right:auto;
}

.chili-bgwrapper {
  background:url('../img/chili-banner-top2-bg.jpg') repeat-x;
  
}

.chili-container {
  background: url('../img/chili-banner-top2.jpg') no-repeat;
  background-position: center 0px;
  height:149px;
  padding-top:60px;
}

.chili-horiz-splitter {

  width:400px;
  margin-left:auto;
  margin-right:auto;
  height:40px;
  
  background-image: -moz-radial-gradient(center top , ellipse farthest-side, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0) 75%), -moz-radial-gradient(center top , ellipse farthest-side, rgba(200, 200, 200, 0.5), rgba(200, 200, 200, 0)), -moz-radial-gradient(center top , ellipse farthest-side, rgba(200, 200, 200, 0.3), rgba(200, 200, 200, 0)); background-repeat: no-repeat; background-size: 100% 5px, 100% 10px, 100% 15%;

}

.social-pages-btn {

 border-radius:60px!important;
 width:95px!important;
 margin-left:20px;
 padding-left:0px;
 padding-right:0px;
}

#editor-console-btn {
  width:12px!important;
  height:45px!important;
  position:absolute;
  left:100%;
  margin-left:-14px;
  padding:0px!important;
  border-radius:1px!important;
  top:50%;
  margin-top:-30px;
  z-index:100;
  padding-top:15px!important;

}

#editor-console {

  position:absolute;
  z-index:100;
  left:100%;
  background:white;
  border-left:1px solid #cccccc;
  display:none;

}

#codeeditor_nav {

  background-image:none!important;
  background:#eaeaea!important;

  border:0px!important;
  border-radius:0px!important;
  padding-top:2px!important;
  
  

}


.lastlogs {

background-color:white;
color:#38b7e5;
height:155px;
overflow-y:scroll;
padding:10px;

}